<h2>Physical Solution Folders</h2>
<p>
This extension adds a tool window to Visual Studio 2013 that allows a developer to map solution folder paths in the solution to physical folders on the hard drive.
</p>
<p>
This extension addresses a niche that seemingly nothing else does. If you need your solution to pick up files and folders from the hard drive and assemble them into solution folders without affecting the rest of the solution, this extension will do that.
</p>
<hr/>
<h3>
    Please Note:
</h3>
<p><strong>
        While this extension has been reasonably tested and is used in my projects, it was marathoned in 3 days and may contain bugs.
</strong></p>
<p><strong>
    While I don't believe that this extension will corrupt your solution files or delete files on your hard drive, I take NO RESPONSIBILITY if it does!
</strong></p>
<hr/>
<h3>Features</h3>
<ul>
<li>Tool window accessible from View -> Other Windows -> Physical Solution Folders</li>
<li>Folder mappings are stored in the solution file (.sln)</li>
<li>.sln entries are non-intrusive so developers without this extension are not forced to get it to open the solution</li>
<li>Mappings can be either absolute or relative to the solution file</li>
<li>Synchronization is done on-demand by using the Physical Solution Folders tool window</li>
<li>Directory recursion during synchronization could be turned on or off</li>
<li>File regex filters could be applied to control which files are added to the solution when synchronizing</li>
<li>Directory regex filters could be applied to control which directories are added/recursed into when synchronizing</li>
</ul>

<h3>License Note</h3>
<p>
This extension uses code from the VisualGit project licensed under the Apache License 2.0 which can be retrieved at
<a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a>
</p>
<p>
VisualGit GitHub repository: <a href="https://github.com/pvginkel/VisualGit">https://github.com/pvginkel/VisualGit</a>
</p>
<p>VisualGit Attributions List:</p>
<ul>
<li>
This product is based on AnkhSVN 2 and includes software developed by The AnkhSVN Team
(http://ankhsvn.open.collab.net/).
Copyright &copy; 2003-2010 The AnkhSVN Team
</li>
<li>
This product includes software developed by Henk Westhuis
(http://code.google.com/p/gitextensions/)
Copyright &copy; 2011 Henk Westhuis
</li>
<li>
This product includes software developed by CollabNet
(http://www.collab.net/).
</li>
<li>
This product includes software developed by the Apache Software Foundation
(http://www.apache.org/).
</li>
<li>
This product includes software developed by Computing Services at Carnegie Mellon University
(http://www.cmu.edu/computing/).
</li>
<li>
This product includes software developed by the OpenSSL Project
(http://www.openssl.org/).
</li>
<li>
This product includes software developed by the SharpSvn Project
(http://sharpsvn.open.collab.net/).
</li>
<li>
This product includes software developed by Sleepycat Software and Oracle
(http://www.sleepycat.com/).
</li>
<li>
This product includes software developed by Bill Menees
(http://www.menees.com/)
Copyright (c) 2002-2008 Bill Menees. All rights reserved.
</li>
</ul>

<h3>Screenshots</h3>
<ul style="list-style-type: none; padding: 0; margin: 0;">
    <li><img style="width: 100%; height: auto;" src="/site/view/file/160962/1/Preview.png"/></li>
    <li><img style="width: 100%; height: auto;" src="/site/view/file/160963/1/Preview2.png"/></li>
    <li><img style="width: 100%; height: auto;" src="/site/view/file/160964/1/Preview3.png"/></li>
</ul>
<hr/>
<p>
<a href="http://www.lastshotstudios.com/" alt="Visit lastshotstudios.com">
<img style="width: 100%; height: auto;" src="/site/view/file/160961/" />
</a>
</p>